<h1>Volunteers</h1>
<p>The following positions are looking for talented/professional volunteers</p>

<div>
  <ul>
    <li>
      Producer <%= link_to 'Apply Here', new_volunteer_path %>
    </li>
    <li>
      Hair & Makeup Artist <%= link_to 'Apply Here', new_volunteer_path %>
    </li>
  </ul>
</div>