<div class="row">
  <div class="small-12 column">
    <!-- Contest code to be inputted in admin CMS -->
    <%= raw RedCloth.new(@contest.contest_code).to_html -%>
  </div>
</div>
<%= render 'layouts/message_ticker' %>