<div id="about" class="wrapper">
<div class="row">
<div class="row">
  <div class="medium-3 column">

    <!-- sidebar -->
    <aside class="sidebar">
      <ul>
        <li><a href="#AboutUs">About Us</a></li>
        <li><a href="#AboutEvent">About the Event</a></li>
      </ul>
    </aside>

  </div>
  <div class="medium-9 column">

    <!-- about content -->
    <content class="content">
      <h2><a name="AboutUs">About Us</a></h2>

      <p>Did you know that many entrepreneurs in the Fashion Industry do not have any formal training/education in business? For many it’s a passion that they decided to pursue by taking a risk, often learning from experience. It isn't until entrepreneurs are in the thick of launching their product, collection or brand that they realize they are knee deep in a very complicated world of Business. At this point, most entrepreneurs cannot commit the time or resources to obtain proper training and often this leads to big, expensive mistakes. We want entrepreneurs to thrive and for the economy to develop and flourish. It takes a community to run a business in the Fashion Industry – and we want to support startup entrepreneurs by providing a one week program filled with events that will help them connect, launch and accelerate.</p>

      <p>We also recognize that the Fashion Industry is changing. It’s no longer just about Designers, Manufacturers, Stylists etc.  There is also an emerging growth of Retail-Tech, Fashion-Tech and Wearable-Tech startups globally. The commonality between all sectors is the need for business skills to survive in this Industry.</p>

      <p>Startup Fashion Week is planning an unforgettable event for Oct. 7-9 2014 in Toronto. We will officially launch a full week program in 2015!  Why Toronto? Because there is a plethora of talent, Industry professionals and a vibrant startup community. It is possible that Startup Fashion Week will take place in different cities across North America afterward to help other Fashion entrepreneurs succeed. To be updated on dates, contests, venue and programming please be sure to sign up for our mailing list <a href="#" id="email_links">HERE.</a></p>

      <p>Startup Fashion Week is organized by a team of Fashion Industry Professionals, Startup Entrepreneurs, Students and Volunteers. Want to get involved? Send us an email: <a href="mailto:info@startupfashionweek.com?subject=I%20want%20to%20get%20involved%20with%20SFW!" id="email_links">INFO@STARTUPFASHIONWEEK.COM </a> and tell us how you'd like to be a part of this extraordinary event!</p>
      <!-- about us ended here -->

      <h2><a name="AboutEvent">About The Event</a></h2>

      <p>Are you a visionary, early stage or later stage Startup in Fashion, Fashion-Tech or Wearable-Tech? (Startups are anywhere from idea phase to 7 years post launch). Have you experienced challenges finding resources to start or accelerate your business? Have you had days where you felt like giving up? Well believe us, you are NOT alone! We are dedicated to bring aspiring and new entrepreneurs in Fashion design, Fashion-Tech and Wearable-Tech a quick glimpse of the skills they need to build a successful business. We also provide resources, exposure and Industry connections for entrepreneurs.</p>

      <p>Startup Fashion Week will offer guests an array of events ranging from full day conferences, runway showcases, workshops, VIP receptions, a closing party and MUCH more! Entrepreneurs who attend Startup Fashion Week will feel a sense of direction, confidence and understand where to access the right resources to sustain the right level of success. The event itself will promote many local businesses / startups / schools. Have a startup or business that you would like to promote to help make this event a success? Pitch us: <a href="mailto:info@startupfashionweek.com?subject=Here's%20my%20pitch!" id="email_links">INFO@STARTUPFASHIONWEEK.COM </a></p>
      <!-- about event end here -->

    </content>

  </div>
</div>

<!-- message ticker -->
<%= render 'layouts/message_ticker' %>

</div>
</div>

