<h1>About Us</h1>
<p>There’s more to running a Fashion Business than one can prepare for!  We are dedicated to bring aspiring and new fashion entrepreneurs a quick glimpse of the skills they need to launch or accelerate their startup.  We also provide resources, exposure and Industry connections for entrepreneurs. Startup Fashion Week will work in partnership with local businesses to provide awareness of what types of access entrepreneurs have within the city to build their business.  We also strive to build partnerships in order to utilize and create awareness for locally created startups within and beyond the scope of fashion.  If you are a visionary, early stage or even later stage startup in Fashion Design, Fashion-Tech or Wearable Fashion this week full of events is for you!</p>

<p>Venue: TBA</p>

<p>Dates: TBA</p>

<p>Contact:</p>

<p>General Inquiries: info@startupfashionweek.com</p>

<p>Volunteer Inquiries: volunteers@startupfashionweek.com<p>

<p>Sponsorship / Vendor Inquiries: sponsorship@startupfashionweek.com</p>

<p>Media Inquiries: media@startupfashionweek.com</p>
