<div id="contact" class="wrapper">
<div class="row">
<div class="row">
  <div class="medium-3 column">
    <!-- side bar -->
    <aside class="sidebar">
      <ul>
        <li><a href="#General">General Inquiries</a></li>
        <li><a href="#Volunteers">Volunteers</a></li>
        <li><a href="#Designers">Designers</a></li>
        <li><a href="#Vendors">Vendors</a></li>
      </ul>
    </aside>
  </div>
  <div class="medium-9 column">
    <!-- content -->
    <content class="content">
      <h1>CONTACT US</h1>
      <hr></hr>
      <h3><a name="General">GENERAL INQUIRIES:</a></h3>
      <p>For all general inquiries please contact us: <a href="mailto:info@startupfashionweek.com?subject= General%20inquiries%20for%20SFW" id="email_links">INFO@STARTUPFASHIONWEEK.COM </a>
      <hr></hr>

      <h3><a name="Volunteers">VOLUNTEERS:</a></h3>
      <p>If you would like to volunteer for the planning of Startup Fashion Week or during the events please send us an email to: <a href="mailto:info@startupfashionweek.com?subject= I%20would%20like%20to%20volunteer%20for%20SFW!" id="email_links">VOLUNTEERS@STARTUPFASHIONWEEK.COM </a></p>


      <p>Please include a link to your Linkedin Profile - or attach a resume and answer the following three questions:</p>

      <ol id="number_list">
        <li>What is your availability?</li>
        <li>What experience do you have with event production or fashion?</li>
        <li>What do you hope to do or learn as a volunteer?</li>
      </ol>

      <hr></hr>

        <h3><a name="Designers">DESIGNERS:</a></h3>
        <p>If you are a startup designer who would like to showcase your collection at Startup Fashion Week, please send an email to:  <a href="mailto:info@startupfashionweek.com?subject= I%20would%20like%20to%20showcase%20my%20work%20at%20SFW!" id="email_links">EVENTS@STARTUPFASHIONWEEK.COM</a></p>
        <p>Please include a link to your website along with any lookbooks or press releases regarding your latest work.</p>

        <hr></hr>

        <h3><a name="Vendors">VENDORS / SPONSORS</a></h3>

        <p>If you would like to showcase your business as a vendor or sponsor please send us an email at: <a href="mailto:info@startupfashionweek.com?subject= Vendor%20or%20sponsor%20inquiry" id="email_links">SPONSORS@STARTUPFASHIONWEEK.COM</a> with a link to your website and we will send you the vendor / sponsor package. </p>
      </div>
    </content>
  </div>
</div>
<%= render 'layouts/message_ticker' %>
</div>
</div>
