<h1>Contact Us</h1>

<h3>General Inquiries:</h3>
<p>FOR ALL GENERAL INQUIRIES PLEASE CONTACT US: INFO@STARTUPFASHIONWEEK.COM</p>

<h3>VOLUNTEERS:</h3>
<p>IF YOU WOULD LIKE TO VOLUNTEER FOR THE PLANNING OF STARTUP FASHION WEEK OR DURING THE EVENTS PLEASE SEND US AN EMAIL TO: VOLUNTEER@STARTUPFASHIONWEEK.COM</p>

PLEASE INCLUDE A LINK TO YOUR LINKEDIN PROFILE - OR RESUME AND ANSWER THE FOLLOWING THREE QUESTIONS:
<ul>
  <li>1.       What is your availability?</li>
  <li>2.       What experience do you have with event production or fashion?</li>
  <li>3.       What do you hope to do or learn as a volunteer?</li>
</ul>

<h3>DESIGNERS:</h3>
IF YOU ARE A STARTUP DESIGNER WHO WOULD LIKE TO SHOWCASE YOUR COLLECTION AT STARTUP FASHION WEEK PLEASE SEND AN EMAIL TO: EVENTS@STARTUPFASHIONWEEK.COM

PLEASE INCLUDE A LINK TO YOUR WEBSITE ALONG WITH ANY LOOKBOOKS OR PRESS RELEASES REGARDING YOUR LATEST WORK.

<h3>VENDORS / SPONSORS</h3>

IF YOU WOULD LIKE TO SHOWCASE YOUR BUSINESS AS A VENDOR OR SPONSOR PLEASE SEND US AN EMAIL TO: SPONSORS@STARTUPFASHIONWEEK.COM WITH A LINK TO YOUR WEBSITE AND WE WILL SEND YOU THE VENDOR / SPONSOR PACKAGE.