<!-- for margin top and bottom: 30px -->
<div id="welcome" class="wrapper">

<!-- do NOT remove this row is use to clear the inner padding -->
<div class="row">

  <!-- 1st row -->
  <div class="row">
    <div class="medium-9 large-9 column">

      <!-- flixel -->
      <div id="flixel" class="container" data-frame data-ratio="16x9">
      </div>

    </div>
    <div class="medium-3 large-3 column">

      <!-- feature-sponsor-content -->
      <div id="feature-sponsor" data-equalize-watch data-equalize-target="#flixel" data-equalize-except="mobile">
        <div class="table">
          <div class="content table-inner">
            <%= raw RedCloth.new(@codebox.codebox).to_html -%>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- 2nd row -->
  <%= render 'layouts/message_ticker' %>

  <div class="row">
    <div class="thumbnails">
      <!-- thumbnails -->
      <% @feature_boxes.each do |fb| %>
        <%= render 'feature_box', fb: fb %>
      <% end %>

    </div>
  </div>
  <div class="thumbnails">
    <iframe src="//epilogger.com/widget/{http://epilogger.com/events/startup-fashion-week}" scrolling="no" frameborder="0" style="overflow:hidden; width:950px; height:700px;"></iframe>
  </div>  
  <div class="row">
    <div class="small-12 column">
      <div class="headline"><h2 class="headline2">Fashion | Technology | Business</h2></div>
    </div>
  </div>

</div>
</div><!-- end of wrapper -->


<!-- <div class="space"><iframe src="http://epilogger.com/events/epilogger?width=800&height=700" scrolling="no" frameborder="0" style="overflow:hidden; width:900px; height:700px;"></iframe></div> -->




