<h1>MEDIA</h1>

<p>For all Media Inquiries, Interviews and Event Registration please contact us: media@startupfashionweek.com (have it redirect to info@startupfashionweek.com with the subject MEDIA</p>

<p>Press Releases - In this section I should be able to upload PDF's for people to download.  The PDF's should just be in rectangular windows as shown.</p>

<p>Media Partners - In this section I should be able to upload logos and they should be aligned with the above windows.</p>
