<div id="media" class="wrapper">
<div class="row">
<div class="row">
  <div class="medium-3 column">
    <aside class="sidebar">
      <ul>
        <li><a href="#MediaInquires">Media Inquires</a></li>
        <li><a href="#PressReleases">Press Releases</a></li>
        <li><a href="#MediaPartners">Media Partners</a></li>
      </ul>
    </aside>
  </div>
  <div class="medium-9 column">
    <content class="content">
      <h1>MEDIA</h1>
      <h2><a name="MediaInquires">Media Inquires</a></h2>
      <p>For all Media Inquiries, Interviews and Event Registration please contact us: media@startupfashionweek.com (have it redirect to info@startupfashionweek.com with the subject MEDIA</p>
      <h2><a name="PressReleases">Press Releases</a></h2>
      <p>Press Releases - In this section I should be able to upload PDF's for people to download.  The PDF's should just be in rectangular windows as shown.</p>
      <h2><a name="MediaPartners">Media Partners</a></h2>
      <p>Media Partners - In this section I should be able to upload logos and they should be aligned with the above windows.</p>
    </content>
  </div>
</div>
<%= render 'layouts/message_ticker' %>
</div>
</div>

