<div id="events" class="wrapper">
<div class="row">
<div class="row">
  <div class="medium-3 column">
    <aside class="sidebar">
      <ul>
        <% @events_by_date.each do |date, events| %>
          <li><a href="<%= "#date-#{date}" %>"><%= date.to_formatted_s(:long_ordinal) %></a></li>
        <% end %>
      </ul>
    </aside>
  </div>
  <div class="medium-9 column">
    <content class="content">
      <h1>EVENTS</h1>
      <hr>
      <% @events_by_date.each do |date, events| %>
        <%= render 'events', date: date, events: events %>
      <% end %>
    </content>
  </div>

</div>
<%= render 'layouts/message_ticker' %>
</div>
</div>
