<!DOCTYPE html>
<html>
  <head>
    <meta content= 'text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
    <body>
      <h3>Welcome, <%= @subscriber.email%>!</h3>
      <p>
        Thank you for subscribing to Startup Fashion Weekend!
      </p>
      <p>
        Check out our site at startupfashionweekend.com for more updates!
      </p>
    </body>
</html>