p, a, small {
  font-family: 'Roboto Condensed', sans-serif!important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif!important;
  text-transform: uppercase;
  font-weight: bold!important;
}

body h1 {
  font-size: 2.5em; // 40px
}

body h2 {
  font-size: 1.5em; // 24px
}
