.site-header {
  ul {
    margin: 0;
  }
  li {
    display: inline-block;
  }
}
.site-header .profile {
  display: table;
  width: 100%;
}


.site-header .logo {
  display: table-cell;
  width: 269px;
  height: 163px;
  -webkit-backface-visibility: hidden;
  img {

    width: 100%;
    height: 100%;
  }
}

.site-header .company {
  position: relative;
  display: table-cell;
  padding-left: 20px;
  height: 100%;
  vertical-align: top;
  h1, h2, ul {
    display: block;
  }
  .name {
    font-size: 2em;
  }
  .mission {
    line-height: 0.9;
    font-size: 1.2em;

  }
}

.site-header .socials {
  position: absolute;
  right: 0;
  bottom: 5px;
  padding-right: 10px;
  width: 100%;
  text-align: right;
  a {
    @include transition(all, 500ms);
    color: #333333;
  }
  a:hover {
    color: #ee3a4b;
  }
  i {
    font-size: 3.5em;
  }
  li {
    margin-right: -5px;
  }
}

.site-header [data-magellan-expedition],
.site-header [data-magellan-expedition-clone] {
  margin: 0;
  padding: 0;
  background-color: transparent;
}
.site-header .navbar {
  max-width: 950px;
  height: 45px;
  background-color: rgba(51, 51, 51, 1);
  text-align: right;
}
.site-header .navbar ul li {
  display: inline-block;
  margin-right: -5px;
  padding: 10px 15px;
}
.site-header .navbar ul li:hover {
  background-color: rgba(31, 31, 31, 1);
}
.site-header .navbar ul a {
  color: rgba(255, 255, 255, 1);
  vertical-align: middle;
  font-size: 13px;
}
.site-header .navbar .navbar-button {
  display: none;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

@mixin header-tablet {
  .site-header .profile {
    font-size: 0.75em;
    .logo {

    }
  }
  .site-header .navbar ul li {
    padding-left: 2%;
    padding-right: 1%;
    &:last-child {
      padding-right: 20px;
    }
  }
  .site-header .socials i {
    font-size: 3em;
  }
}
@mixin header-mobile {
  .site-header .profile {
    .logo {
      display: block;
      width: 100%;
      height: 169px;
    }
    .company {
      display: block;
      padding-left: 0;
    }
    .name {
      display: none;
    }
    .mission {
      margin-bottom: 15px;
      width: 100%;
      text-align: center;
      letter-spacing: 0px;
    }
    .socials {
      position: relative;
      display: block;
      text-align: center;
      li {
        margin-right: -5px;
      }
    }
  }
}

@mixin mobile-navbar {
  .site-header .navbar ul li {
    display: block;
    padding: 10px 15px;
    width: 100%;
    text-align: left;
  }

  .site-header .navbar .navbar-button {
    display: block;
  }

  .site-header .navbar {
    @include transition(all, 800ms);
    overflow: hidden;
    max-height: 54px;
    height: 100%;
  }
  .site-header .navbar.expand {
    max-height: 450px;
  }
}
