#message-ticker[data-ticker] {
  overflow: hidden;
  background-color: #ee3a4b;
}
#message-ticker .click {
  display: inline-block;
  float: right;
  width: 215px;
  height: 100%;
  color: white;
  background: rgba(40, 40, 40, 1);
  text-align: center;
  font-size: 1.7em;
}
#message-ticker .click .click-inner {
  display: table;
  width: 100%;
  height: 100%;
  .content {
    display: table-cell;
    vertical-align: middle;
  }
}

#message-ticker ul.messages {
  width: calc(100% - 215px);
  display: inline-block;
  float: left;
  margin-left: 0px;
  margin-bottom: 0px;
}

#message-ticker ul.messages li {
  font-size: 0.9em;
  line-height: 1;
  display: table;
  width: 100%;
}

#message-ticker ul.messages li .message {
  display: table-cell;
  vertical-align: middle;
  padding: 0 15px;
}
#message-ticker ul.messages li a {
  font-size: 1.75em;
  font-weight: bold;
  color: white;
}

@mixin message-ticker-mobile {
  #message-ticker .click {
    display: none;
  }
  #message-ticker ul.messages {
    width: 100%;
  }
}
