#news_ticker {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0;
  width: 70%;
  height: 60px;
  background: #ee3a4b;
}

.news ul {
  float: left;
  -webkit-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  -moz-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  -ms-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
}
.news ul:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
}
.news li {
  padding: 14px;
  line-height: 26px;}

#news_ticker a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

@-webkit-keyframes ticker {
  0%   {margin-top: 10px;}
  50%  {margin-top: -40px;}
  75%  {margin-top: -90px;}
  100% {margin-top: 10px;}
}
@-moz-keyframes ticker {
  0%   {margin-top: 10px;}
  50%  {margin-top: -40px;}
  75%  {margin-top: -90px;}
  100% {margin-top: 10px;}
}
@-ms-keyframes ticker {
  0%   {margin-top: 10px;}
  50%  {margin-top: -40px;}
  75%  {margin-top: -90px;}
  100% {margin-top: 10px;}
}
@keyframes ticker {
  0%   {margin-top: 10px;}
  50%  {margin-top: -40px;}
  75%  {margin-top: -90px;}
  100% {margin-top: 10px;}
}

.clickhere {
  display: inline-block;
  margin-bottom: 20px;
  width: 29.95%;
  height: 60px;
  background-color: #000;
}

.clickhere p{
  padding-top: 5px;
  padding-left: 8px;
  color: #fff;
  vertical-align: center;
  font-size: 28px;
}

.body-content-wrapper {
  clear: both;
}

// For the Media pages

.sidebar {
  float: left;
  // padding-left: 25px;
  width: 25%;
}

.body-content-wrapper a{
  color: #353535;
  text-decoration: none;
}

.body-content-wrapper a:hover {
  color: #ee3a4b;
}

#msg_ticker {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0;
  width: 80%;
  height: 60px;
  background: #ee3a4b;
}

.ticker ul {
  float: left;
  -webkit-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  -moz-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  -ms-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
}
.ticker ul:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
}
.ticker li {
  padding: 14px;
  line-height: 20px;}

#msg_ticker a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

@mixin message-ticker-mobile {
  @-webkit-keyframes ticker {
    0%   {margin-top: -15px;}
    50%  {margin-top: -80px;}
    75%  {margin-top: -150px;}
    100% {margin-top: -15px;}
  }
  @-moz-keyframes ticker {
    0%   {margin-top: -15px;}
    50%  {margin-top: -80px;}
    75%  {margin-top: -150px;}
    100% {margin-top: -15px;}
  }
  @-ms-keyframes ticker {
    0%   {margin-top: -15px;}
    50%  {margin-top: -80px;}
    75%  {margin-top: -150px;}
    100% {margin-top: -15px;}
  }
  @keyframes ticker {
    0%   {margin-top: -15px;}
    50%  {margin-top: -80px;}
    75%  {margin-top: -150px;}
    100% {margin-top: -15px;}
  }
}


.fa-chevron-left {
  color: #fff;
  margin-top: 7px;
  vertical-align: bottom;
  text-align: center;
}

.click_here {
  padding-top: 9px;
  padding-left: 8px;
  color: #fff;
  vertical-align: center;
  text-align: center;
  font-size: 24px;
}

.click_group {
  padding-top: 10px;
  vertical-align: center;
  text-align: center;
}


.click {
  display: inline-block;
  margin-bottom: 0;
  width: 20%;
  height: 60px;
  background-color: #000;
}

.click p{
  padding-top: 5px;
  padding-left: 8px;
  color: #fff;
  vertical-align: center;
  font-size: 28px;
}



.social_icon_grp {
  margin-top: 44px;
}

.social_icon_grp li {
  display: inline-block;
  padding-top: 4px;
  padding-left: 8px;
}

.sml_logo_pic {
  position: relative;
  float: left;
}


.fa-chevron-left {
  float: left;
}

.spotlight_content{
  clear: both;
  margin-top: 40px;
  margin-bottom: 30px;
}