figure {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0 8px 10px 0;
}
figcaption {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  padding: 10px 20px;
  width: 100%;
  background: black;
  background: rgba(232,232,232,0.75);
  color: #000;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}
figure:hover figcaption {
  opacity: 1;
}
figure:before {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius:    12px;
  border-radius:         12px;
  background: black;
  background: rgba(255,255,255,0.75);
  color: black;
  content: "?";
  text-align: center;
  text-shadow: 0 0 5px white;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.75;
  -moz-transition: all 0.6s ease;
}
figure:hover:before {
  opacity: 0;
}

.cap-bot:before { bottom: 10px; left: 10px; }
.cap-bot figcaption { bottom: -30%; left: 0;}
.cap-bot:hover figcaption { bottom: 0; }

.team_pics {
}

.team_role_title {
  font-style: italic;
  font-size: 13px;
  line-height: 0px;
}

.team_name {
  font-weight: bold;
  font-size: 20px;
  line-height: 0px;
}

.connect {
  margin: 0px;
}

.todaright {
  padding-right: 10px;
}

.team_icons {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.description {
  font-weight: bold;
  text-align: center;
}
