

body {
  background: url('square-background.png') !important;
  background-size:1000px !important;
}

.container {
  max-width: 950px;
  min-width: 800px;
  background-color: #fff;
  margin: 0px auto;
  height: 100vh;
  overflow:hidden;
}

h1 {
  font-size: 40px !important;
}

h2 {
  font-size: 24px !important;
}

.highlight-boxes {
  text-align: center;

  }


.headline {
  display: inline-block;
  vertical-align: top;
  padding-left: 39px;
  padding-top: 6px;
  width: 70%
}

.oxygen, .oxygen2{
   font-family: 'Oxygen', sans-serif;
}

.oxygen2 {
  display: inline-block;
}


.logo-container {
  display: inline-block;
}

.logo-container img{
  width: 250px;
  height: 160px;
}

.social {
  width: 40px;
  height: auto;
}

.social-icons {
  display: inline-block;
  float: right;
}


.thumbnail {
  position: relative;

  .image {

  }
  .caption {
    -webkit-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 5px 10px;
    display: none;
    background: rgba(80, 80, 80, 0.7);
    color: white;
    font-weight: 300;
    font-size: 14px;
  }

  .image:hover + .caption,
  .caption:hover {
    display: block;
  }

}

