.container {
  display: block;
  margin-bottom: 15px;
}

.table {
  margin-bottom: 15px;
  display: table;
  width: 100%;
  height: 100%;
  .table-inner {
    display: table-cell;
    vertical-align: middle;
  }
}

#flixel {
  .flixel {
    width: 100%;
    height: 340px;
  }
}

#feature-sponsor {
  width: 100%;
  height: 340px;

  .content {
    height: 100%;
    background-color: #595959;
    color: #fff;
    text-align: center;
  }
}

.panel {
  text-align: center;
  a {
    color: rgba(0, 0, 0, 1);
  }
}

.thumbnail {
  position: relative;
  .image {
    display: block;
  }
  .caption {
    @include transition(all, 500ms);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    padding: 5px 10px;
    opacity: 0;
    background-color: rgba(80, 80, 80, 0.75);
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
    font-size: 14px;
  }
  .caption:hover {
    opacity: 1;
  }
}




.highlight-boxes {
  text-align: center;
}

// .oxygen2 {
//   display: inline-block;
// }


.body-content-wrapper {
 margin-top: 30px;
 margin-bottom: 30px;
 padding-bottom: 30px;
 overflow: hidden;
}

.movedown {
  margin-bottom: 40px;
}


#news_ticker {
  background: #ee3a4b;
  width: 70%;
  height: 60px;
  margin: 0;
  overflow: hidden;
  position: relative;
  float: left;
}

.news ul {
  float: left;
  -webkit-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  -moz-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  -ms-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
}
.news ul:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
}
.news li {
  line-height: 26px;
  padding: 14px}

#news_ticker a {
  color: #fff;
  text-decoration: none;
  font-size: 28px;
}

@-webkit-keyframes ticker {
  0%   {margin-top: 0;}
  25%  {margin-top: -55px;}
  50%  {margin-top: -115px;}
  75%  {margin-top: -173px;}
  100% {margin-top: 0;}
}
@-moz-keyframes ticker {
  0%   {margin-top: 0;}
  25%  {margin-top: -55px;}
  50%  {margin-top: -115px;}
  75%  {margin-top: -173px;}
  100% {margin-top: 0;}
}
@-ms-keyframes ticker {
  0%   {margin-top: 0;}
  25%  {margin-top: -55px;}
  50%  {margin-top: -115px;}
  75%  {margin-top: -173px;}
  100% {margin-top: 0;}
}
@keyframes ticker {
  0%   {margin-top: 0;}
  25%  {margin-top: -55px;}
  50%  {margin-top: -115px;}
  75%  {margin-top: -173px;}
  100% {margin-top: 0;}
}

.clickhere {
  background-color: #000;
  height: 60px;
  width: 29.95%;
  display: inline-block;
  margin-bottom: 20px;
}

.clickhere p{
  color: #fff;
  font-size: 28px;
  vertical-align: center;
  padding-left: 8px;
  padding-top: 5px;
}

.body-content-wrapper {
  clear: both;
}

// For the Media pages

.sidebar {
  float: left;
  width: 25%;
  padding-left: 25px;
}

.body-content-wrapper a{
  color: #353535;
  text-decoration: none;
}

.body-content-wrapper a:hover {
  color: #ee3a4b;
}

#main {
  float: left;
  width: 75%;
  height: 100%;
  padding: 0px 25px 0px 25px;
  border-left: 2px solid gray;
}

#msg_ticker {
  background: #ee3a4b;
  width: 80%;
  height: 60px;
  margin: 0;
  overflow: hidden;
  position: relative;
  float: left;
}

.ticker ul {
  float: left;
  -webkit-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  -moz-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  -ms-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
}
.ticker ul:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
}
.ticker li {
  line-height: 26px;
  padding: 14px}

#msg_ticker a {
  color: #fff;
  text-decoration: none;
  font-size: 23px;
}

@-webkit-keyframes ticker {
  0%   {margin-top: 0;}
  25%  {margin-top: -55px;}
  50%  {margin-top: -115px;}
  75%  {margin-top: -173px;}
  100% {margin-top: 0;}
}
@-moz-keyframes ticker {
  0%   {margin-top: 0;}
  25%  {margin-top: -55px;}
  50%  {margin-top: -115px;}
  75%  {margin-top: -173px;}
  100% {margin-top: 0;}
}
@-ms-keyframes ticker {
  0%   {margin-top: 0;}
  25%  {margin-top: -55px;}
  50%  {margin-top: -115px;}
  75%  {margin-top: -173px;}
  100% {margin-top: 0;}
}
@keyframes ticker {
  0%   {margin-top: 0;}
  25%  {margin-top: -55px;}
  50%  {margin-top: -115px;}
  75%  {margin-top: -173px;}
  100% {margin-top: 0;}
}

.fa-chevron-left {
  color: #fff;
 vertical-align: center;
 text-align: center;
}

.click_here {
  color: #fff;
  font-size: 35px;
  vertical-align: center;
  padding-left: 8px;
  padding-top: 3px;
  text-align: center;
}

.click_group {
  text-align: center;
  vertical-align: center;
  padding-top: 10px;
}


.click {
  background-color: #000;
  height: 60px;
  width: 20%;
  display: inline-block;
  margin-bottom: 0;
}

.click p{
  color: #fff;
  font-size: 28px;
  vertical-align: center;
  padding-left: 8px;
  padding-top: 5px;
}



.social_icon_grp {
  margin-top: 44px;
}

.social_icon_grp li {
  display: inline-block;
  padding-left: 8px;
  padding-top: 4px;
}

.sml_logo_pic {
  float: left;
  position: relative;
}


.fa-chevron-left {
  float: left;
}

.spotlight_content{
  clear: both;
  margin-top: 40px;
  margin-bottom: 30px;
}

/********* TEAM  ***********/

.each_team_box {
  float: left;
}
.each_team_box td {
  padding-left: 0px;
  padding-right: 0px;
}

.team_boxes {
  overflow: hidden;
}

/******* ALL SPONSORS  ********/

.sponsor_img img {
  float: left;
  width: 33%;
  padding-right: 10px;
  margin-bottom: 25px;
}

.level h3{
  clear: both;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

/******* EVENT SPOTLIGHT  ********/

.event_boxes {
  float: left;
  margin-right: 20px;
}

#button {
  background-color: #333333;
  color: #fff;
  padding: 13px 13px;
  margin-top: 10px;
}

#button:hover {
  color: #ef394e;
}

.event_center {
  text-align: center;
}

.info-list {
  margin-left: 0px;
}

#email_links {
  text-decoration: underline;
  color: tomato;
}

#email_links:hover{
  color: #000;
}

#number_list {
  list-style-type: decimal;
}



.space {
  margin-left: 20px;
}
