.container {
  display: block;
  margin-bottom: 30px;
}

.table {
  display: table;
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
  .table-inner {
    display: table-cell;
    vertical-align: middle;
  }
}

#flixel {
  .flixel {
    width: 100%;
    height: 340px;
  }
}

#feature-sponsor {
  width: 100%;
  height: 340px;

  .content {
    height: 100%;
    background-color: #595959;
    color: #fff;
    text-align: center;
  }
}

.panel {
  text-align: center;
  a {
    color: rgba(0, 0, 0, 1);
  }
}

.thumbnail {
  margin-top: 30px;
  position: relative;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .caption {
    @include transition(all, 500ms);
    position: absolute;
    height: 100%;
    width: 100%;
    display: table;
    padding: 5px 10px;
    background-color: rgba(80, 80, 80, 0.75);
    color: rgba(255, 255, 255, 1);
    vertical-align: middle;
    font-weight: 300;
    font-size: 14px;
    opacity: 0;
  }
  .caption p {
    display: table-cell;
    vertical-align: middle;
  }
  .caption:hover {
    opacity: 1;
  }
}

.headline {
  text-align: center;
}


// ======================================


.highlight-boxes {
  text-align: center;
}

// .oxygen2 {
//   display: inline-block;
// }


.body-content-wrapper {
 overflow: hidden;
 margin-top: 30px;
 margin-bottom: 30px;
 padding-bottom: 30px;
}

.movedown {
  margin-bottom: 40px;
}


#news_ticker {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0;
  width: 70%;
  height: 60px;
  background: #ee3a4b;
}

.news ul {
  float: left;
  -webkit-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  -moz-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  -ms-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
}
.news ul:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
}
.news li {
  padding: 14px;
  line-height: 26px;}

#news_ticker a {
  color: #fff;
  text-decoration: none;
  font-size: 28px;
}

@-webkit-keyframes ticker {
  0%   {margin-top: 0;}
  25%  {margin-top: -55px;}
  50%  {margin-top: -115px;}
  75%  {margin-top: -173px;}
  100% {margin-top: 0;}
}
@-moz-keyframes ticker {
  0%   {margin-top: 0;}
  25%  {margin-top: -55px;}
  50%  {margin-top: -115px;}
  75%  {margin-top: -173px;}
  100% {margin-top: 0;}
}
@-ms-keyframes ticker {
  0%   {margin-top: 0;}
  25%  {margin-top: -55px;}
  50%  {margin-top: -115px;}
  75%  {margin-top: -173px;}
  100% {margin-top: 0;}
}
@keyframes ticker {
  0%   {margin-top: 0;}
  25%  {margin-top: -55px;}
  50%  {margin-top: -115px;}
  75%  {margin-top: -173px;}
  100% {margin-top: 0;}
}

.clickhere {
  display: inline-block;
  margin-bottom: 20px;
  width: 29.95%;
  height: 60px;
  background-color: #000;
}

.clickhere p{
  padding-top: 5px;
  padding-left: 8px;
  color: #fff;
  vertical-align: center;
  font-size: 28px;
}

.body-content-wrapper {
  clear: both;
}

// For the Media pages

.sidebar {
  float: left;
  // padding-left: 25px;
  width: 25%;
}

.body-content-wrapper a{
  color: #353535;
  text-decoration: none;
}

.body-content-wrapper a:hover {
  color: #ee3a4b;
}

#msg_ticker {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0;
  width: 80%;
  height: 60px;
  background: #ee3a4b;
}

.ticker ul {
  float: left;
  -webkit-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  -moz-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  -ms-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
}
.ticker ul:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
}
.ticker li {
  padding: 14px;
  line-height: 26px;}

#msg_ticker a {
  color: #fff;
  text-decoration: none;
  font-size: 23px;
}

@-webkit-keyframes ticker {
  0%   {margin-top: 0;}
  25%  {margin-top: -55px;}
  50%  {margin-top: -115px;}
  75%  {margin-top: -173px;}
  100% {margin-top: 0;}
}
@-moz-keyframes ticker {
  0%   {margin-top: 0;}
  25%  {margin-top: -55px;}
  50%  {margin-top: -115px;}
  75%  {margin-top: -173px;}
  100% {margin-top: 0;}
}
@-ms-keyframes ticker {
  0%   {margin-top: 0;}
  25%  {margin-top: -55px;}
  50%  {margin-top: -115px;}
  75%  {margin-top: -173px;}
  100% {margin-top: 0;}
}
@keyframes ticker {
  0%   {margin-top: 0;}
  25%  {margin-top: -55px;}
  50%  {margin-top: -115px;}
  75%  {margin-top: -173px;}
  100% {margin-top: 0;}
}

.fa-chevron-left {
  color: #fff;
 vertical-align: center;
 text-align: center;
}

.click_here {
  padding-top: 3px;
  padding-left: 8px;
  color: #fff;
  vertical-align: center;
  text-align: center;
  font-size: 35px;
}

.click_group {
  padding-top: 10px;
  vertical-align: center;
  text-align: center;
}


.click {
  display: inline-block;
  margin-bottom: 0;
  width: 20%;
  height: 60px;
  background-color: #000;
}

.click p{
  padding-top: 5px;
  padding-left: 8px;
  color: #fff;
  vertical-align: center;
  font-size: 28px;
}



.social_icon_grp {
  margin-top: 44px;
}

.social_icon_grp li {
  display: inline-block;
  padding-top: 4px;
  padding-left: 8px;
}

.sml_logo_pic {
  position: relative;
  float: left;
}


.fa-chevron-left {
  float: left;
}

.spotlight_content{
  clear: both;
  margin-top: 40px;
  margin-bottom: 30px;
}

/********* TEAM  ***********/

.each_team_box {
  float: left;
}
.each_team_box td {
  padding-right: 0px;
  padding-left: 0px;
}

.team_boxes {
  overflow: hidden;
}

/******* ALL SPONSORS  ********/

.sponsor_img img {
  float: left;
  margin-bottom: 25px;
  padding-right: 10px;
  width: 33%;
}

.level h3{
  clear: both;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
}

/******* EVENT SPOTLIGHT  ********/

.event_boxes {
  float: left;
  margin-right: 20px;
}

#button {
  margin-top: 10px;
  padding: 13px 13px;
  background-color: #333333;
  color: #fff;
}

#button:hover {
  color: #ef394e;
}

.event_center {
  text-align: center;
}

.info-list {
  margin-left: 0px;
}

#email_links {
  color: tomato;
  text-decoration: underline;
}

#email_links:hover{
  color: #000;
}

#number_list {
  list-style-type: decimal;
}



.space {
  margin-left: 20px;
}
