.container {
  display: block;
  margin-bottom: 30px;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
  .table-inner {
    display: table-cell;
    vertical-align: middle;
  }
}

#flixel {
  background-image: image_url('flixel4.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}

#feature-sponsor {
  width: 100%;
  margin-bottom: 30px;
  overflow: scroll;

  .content {
    padding: 5%;
    height: 100%;
    background-color: #595959;
    color: #fff;
    text-align: center;
  }
}

.panel {
  text-align: center;
  a {
    color: rgba(0, 0, 0, 1);
  }
}

.thumbnail {
  margin-top: 30px;
  position: relative;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .hover {
    @include transition(all, 500ms);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(80, 80, 80, 0.75);

    opacity: 0;
  }
  .hover:hover {
    opacity: 1;
  }
  .caption {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
    padding: 5px 10px;
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
    font-size: 14px;

  }
  .caption p {
    display: table-cell;
    vertical-align: middle;
  }

}

.headline {
  text-align: center;
}

@mixin welcome-mobile {
  #feature-sponsor {
    height: 170px;
  }
}


// ======================================



/********* TEAM  ***********/

.each_team_box {

}


.team_boxes {
  overflow: hidden;
}

/******* ALL SPONSORS  ********/

.sponsor_img img {
  float: left;
  margin-bottom: 25px;
  padding-right: 10px;
  width: 33%;
}

.level h3{
  clear: both;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
}

/******* EVENT SPOTLIGHT  ********/

.event_boxes {
  float: left;
  margin-right: 20px;
}

#button {
  margin-top: 10px;
  padding: 13px 13px;
  background-color: #333333;
  color: #fff;
}

#button:hover {
  color: #ef394e;
}

.event_center {
  text-align: center;
}

.info-list {
  margin-left: 0px;
}

#email_links {
  color: tomato;
  text-decoration: underline;
}

#email_links:hover{
  color: #000;
}

#number_list {
  list-style-type: decimal;
}



.space {
  margin-left: 20px;
}
