<div class="row">
  <div class="small-12 column">
    <div class="ticker" id="msg_ticker">
      <ul>
        <li><a href="http://www.startupfashionweek.wordpress.com" target="_blank?">For great insight on Fashion, Business and Technology follow our Blog!</a></li>
        <li><%= link_to "Want to be a part of the Team?", teams_path %></li>
        <li><%= link_to "Sign up to receive exclusive updates and offers from Startup Fashion Week!", welcome_subscribe_path %></li>
      </ul>
    </div>

    <div class="click">
      <div class="click_group">
        <i class="fa fa fa-chevron-left fa-3x"></i><div class="click_here">Click</div>
      </div>
    </div>
  </div>
</div>