<div class="row">
<div class="small-12 column">
<div id="message-ticker" data-ticker>

  <ul class="messages">

      <li>
        <div class="message">
        <a href="http://www.startupfashionweek.wordpress.com" target="_blank?">
          For great insight on Fashion, Business and Technology follow our Blog!
        </a>
        </div>
      </li>
      <li>
        <div class="message">
        <%= link_to teams_path do %>
          Want to be a part of the Team?
        <% end %>
        </div>
      </li>
      <li>
        <div class="message">
        <%= link_to welcome_subscribe_path do %>
         Sign up to receive exclusive updates and offers from Startup Fashion Week!
        <% end %>
        </div>
      </li>

  </ul>
  <div class="click">
    <div class="click-inner">
      <div class="content">
        Click the Text
      </div>
    </div>
  </div>

</div>
</div>
</div>

